$sidebar-color: #5a4b70;
$inputWindow-color: #2b2734;
$secondary-color: #4e425b;
$health-bar-color: #009700;
$error-color: #d90000;
$text-color: #ffffff;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Encode Sans Expanded', sans-serif;
}
